#about{
    padding-top: 5vh;
    height:200vh;
    display:block;
}
.intro{
    display:flex;
    justify-content: flex-start;
    margin-top: 0.4vh;
    gap: 3vw;

    border: 2px solid white;
}

.headshot{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 40%;
    border: 2px solid white;
}

.headshot-img{
    width: 92%;
    height: auto;
    border-radius: 0.7vw;
    /* border:2px solid rgb(78, 88, 79) */
}

.bio{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vh;
    width: 48%;

}

.bio h2{
    
}

.about-me{
    
}

.skills{
    margin-top: 0.4vh;
    height: 50vh;
    border: 1px solid brown
}