#about{
    padding-top: 2vh;
    height:200vh;
    display:block;



}
.intro{
    background-color: #909f90;
    border-radius: 0.7vw;
    padding-left: 8vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display:flex;
    justify-content: flex-start;
    gap: 3vw;
    height: fit-content;
}

.headshot{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
    height: fit-content;
}

.headshot img{
    width: 100%;
    border-radius: 0.7vw;

}

.bio{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.6vw;
    width: 50%;
}

.personal-interests{
    margin-top: 5%;
    height: 24%;
    width: 80% /* This will change how much of the bio the hobbies icons take*/
}

.personal-interests ul{
    margin-top: 5%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 50%;
}

.personal-interests img{
    height: 3.3vw;
}

.location{
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 2vw;
    height: 12%;
}

.location img{
    height: 3.3vw;
}

.skills{
    margin-top: 7vh;
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    align-items: center;
}

.skills-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 3vw;
    width: 90%;
}

.skills-container > div > div{
    display: flex;
    align-items: center;
    gap:8%;
    margin-top: 2vw;
    margin-bottom: 1.6vw;
    padding-bottom: 1%;
    border-bottom: 0.2vw solid black;
}

.skills-container img{
    height: 2.9vw;
}

.skills-container ul{
    list-style: none;
}

.skills-container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6vw;
}

.progress-meter { 
    width: 70%;
    height: 0.8vw;
    border-radius: 2vw;
    border: 3px solid black;

}

.progress-meter > span{
    display: block;
    height: 100%;
    border-top-right-radius: 1.3vw;
    border-bottom-right-radius: 1.3vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    background-color: rgb(196, 226, 213);

    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

