/* General Styling */

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1.3vw;
}

body{
    background-color: #7f9483;
    font-family: 'Roboto','Montserrat', sans-serif;
    font-size: 1rem;  
}

h1{
    font-size: 3rem;
    font-weight: 500;
}

h2{
    font-size: 2rem;
    font-weight: 400;
}

h3{
    font: 1.5rem;
    font-weight: 400;
}

p{
    font-size: 1.05rem;
    font-weight: 100;
}
#content{
    margin-left:8vw;
    margin-right:14vw;
}

a{
    text-decoration: none;
    display: block;
    color: black;
}



