.experience{
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #909f90;
    border-radius:1vw;
    height: fit-content;
}

.experience-tree{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tree-side{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

#left-tree{
    padding-top: 15vw;
    border-right: 0.2rem solid black;
}

#right-tree{
    border-left: 0.2rem solid black;

}

.tree-node{
    width: 100%;
    height: 18vw;
    display: grid;

}

#left-tree .tree-node{
    grid-template-columns: 7fr 1fr;
}

#right-tree .tree-node{
    grid-template-columns: 1fr 7fr;
}

#right-tree .tree-node img{
    align-self: center;
    transform: rotate(-1deg);
    position: relative;
    left: -.1vw;
    width: 100%;

}

#left-tree .tree-node img{
    align-self: center;
    justify-self: end;
    transform: rotate(-1.2deg);
    position: relative;
    right: -.1vw;
    width: 100%;

}

.exp-content{
    border: 1px solid white;
}






