.experience {
  display: flex;
  gap: 3.5vw;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  padding-bottom: 5vh;
  height: fit-content;
}

.experience-tree {
  width: 95%;
  display: flex;
  flex-direction: column;
  border-left: 0.2rem solid black; 
  padding-top: 2vw; 
  padding-bottom: 2vw;
}

.tree-node {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 60px auto; 
  margin-bottom: 5vw; 

  /* border: 0.1rem solid black; */
}

.branch {
  display: flex;
  align-items: flex-start; 
  padding-top: 1.5rem; 
  margin-right:0.7rem;
}

.leaf {
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #000000;
  background-color: #8e9f8e;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;

  margin-left: -0.6rem; 
  z-index: 1; 
}

.branch-line {
  background-color: black;
  height: 0.2rem;
  flex-grow: 1;
  margin-top: 0.4rem; 
}

.exp-content {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 2rem;

  background: linear-gradient(145deg, #8c9d8c, #7e937e);
  border-radius: 1vw;
  padding: 5vh 8vw;
  box-shadow: 0.35rem 0.35rem 0.7rem rgba(108, 124, 111, 0.8),
    -0.35rem -0.35rem 0.7rem rgba(141, 154, 139, 0.8);
  padding: 2rem;

  /* border: 0.2rem  solid red; */
}

.exp-text {
  flex: 4; 
}

.exp-img {
  flex: 3; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.exp-img img {
  width: 100%;      
  max-width: 600px;  
  height: auto;  
  border-radius: 0.5rem; 
  object-fit: cover;
}
.organization {
  margin-top: 0.5vw;
}

.achievements {
  margin-top: 1vw;
  margin-left: 1.5em;
}

.achievements li {
  padding: 0.3rem 0.3em;
}

.date {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.calendar {
  width: 1.3vw;
}