#left-nav-desktop {
    position: fixed;
    top: 50%; 
    transform: translateY(-50%);
    width: 8vw; 
    left:0
}

#left-nav-desktop ul {
    list-style-type: none; 
}

#left-nav-desktop li {
    margin-bottom: 2vh; /* Margin between list items */
    display:flex;
    justify-content: center;
}

#left-nav-desktop li a {
    display: block; /* full area clickable */
    padding: 1.4vh 0; /* Padding inside each link */
}

#left-nav-desktop li a img {
    width: auto;
    height: 2.9vw;

}

#left-nav-desktop li a img:hover {
    transform: scale(1.2);
}

#right-nav-desktop {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 13vw;
}

#right-nav-desktop ul {
    list-style-type: none; 
}

#right-nav-desktop li a {
    padding: 2.7vh 0; /* Padding inside each link */
    font-size: 1.5vw;
    font-weight: 400;
    display:flex;
    justify-content: center;
}


#right-nav-desktop li a:hover {
    transform: scale(1.2);
}
