.skills{
    margin-top: 10vh;
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    align-items: center;

}

.skills-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 3vw;
    width: 90%;
}

.skills-container > div > div{
    display: flex;
    align-items: center;
    gap:8%;
    margin-top: 2vw;
    margin-bottom: 1.6vw;
    padding-bottom: 1%;
    border-bottom: 0.2vw solid black;
}

.skills-container img{
    height: 2.9vw;
}

.skills-container ul{
    list-style: none;
}

.skills-container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6vw;
}

.progress-meter { 
    width: 70%;
    height: 0.8vw;
    border-radius: 2vw;
    border: 3px solid black;

}

/* rgb(196, 226, 213) */
.progress-meter > span{
    display: block;
    height: 100%;
    border-top-right-radius: 1.3vw;
    border-bottom-right-radius: 1.3vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    background-color: rgb(196, 226, 213);
    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

